.swiper-pagination-bullet {
    background-color: hsl(0, 0%, 35%) !important;
    border: 1px solid #fff;
    width: 0.7rem !important;
    height: 0.7rem !important;
    margin: 0 0.25rem;
    border-radius: 9999px; 
}

.swiper-pagination-bullet-active {
    background-color: #ef4444 !important; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}  